body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	letter-spacing: 0.03em;
	line-height: 1.6;
	background-color: #060707;
	font-size: 16px;
}

/* Dimensiones de las imagenes*/
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Quitar subrayado de botones */
a {
	text-decoration: none;
}

/* Indicar las dimensiones que queremos que utilice respecto al body,
además indicar al interprete la posición de nuestro header*/
.contenedor {
	width: 90%;
	max-width: 80em;
	margin: 1.25em auto;
	display: grid;
	grid-gap: 1.25em;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
	;
}

/* Estilo CSS de Header */
.header {
	grid-area: header;
	padding: 1.25rem;
	background: #060707;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

/* Estilo CSS de nombre My Manga */
.header .logo {
	margin-bottom: 1.25em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

/* Color nombre My Manga */
.logo h1 {
	font-size: 2em;
	color: lightgray;
}

/* Estilo CSS menu, franjas grices */
.menu {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
}

/* Estilo CSS botones de menú*/
.menu a {
	padding: 0.625em;
	color: lightgray;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 1em;
	background: #060707;
}

/* Efecto hover, cambio de color del botón al posar el mouse*/
.menu a:hover {
	background: #191a1b;
	color: lightgray;
}

/* Estilo CSS para inputs, única función es que su borde sea bloque y no se unan */
* {
	box-sizing: border-box;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

/* Estilo CSS de formulario */
.formulario {
	display: grid;
	/* cantidad de columnas */
	grid-template-columns: 1fr 1fr;
	/* Espacio entre filas y columnas */
	gap: 20px;
}

.formulario__label {
	/* Display block para que utilice el 100% del espacio que puede*/
	display: block;
	font-weight: 700;
	padding: 10px;
	color: lightgray;
	/* Indicar al usuario que puede hacer click en el label y redireccionarlo al input */
	cursor: pointer;
}

/* Estilo CSS input */
.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #1f2122;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	/* Altura del texto */
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3 ease all;
}

.formulario__input:focus {
	border: 3px solid #0075ff;
	outline: none;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0px;
	/* Mensaje de error oculto */
	display: none;
	color: lightgray;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	/* Para que sobre ponga a otros elementos */
	z-index: 100;
	font-size: 16px;
	/* Para mantenerlo oculto y que aparezca en caso de error */
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #f66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #191a1b;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	background: #313335;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;

}

/* Estilo css validación*/

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;

}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.footer {
	background: #060707;
	font-size: 14px;
	grid-area: footer;
	padding: 25px;
	text-align: center;
	color: lightgray;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/*https://getbootstrap.com/docs/4.0/layout/overview/*/

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	body {
		font-size: 15px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.header {
		font-size: 14px;
	}

	body {
		font-size: 16px;
	}
}

@media (max-width: 950px) {
	body {
		font-size: 14;
	}
}

@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos,
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
	body {
		font-size: 13px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	body {
		font-size: 12px;
	}
}