body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	letter-spacing: 0.03em;
	line-height: 1.6;
	background-color: #060707;
	font-size: 16px;
}

/* Dimensiones de las imagenes*/
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Quitar subrayado de botones */
a {
	text-decoration: none;
}

/* Estilo CSS contenedor, indicando que dimensiones del body debe utilizar,
y el orden de las filas y columnas en relacion a los componentes.*/
.contenedor {
	width: 90%;
	max-width: 80em;
	margin: 1.25em auto;
	display: grid;
	grid-gap: 1.25em;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
		'destacado		destacado 	destacado'
		'contenido		contenido 	contenido'
	;
}

/* Estilo CSS de Header */
.header {
	grid-area: header;
	padding: 1.25rem;
	background: #060707;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

/* Estilo CSS de nombre My Manga */
.header .logo {
	margin-bottom: 1.25em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

/* Color nombre My Manga */
.logo h1 {
	font-size: 2em;
	color: lightgray;
}

/* Estilo CSS menu, franjas grices */
.menu {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
}

/* Estilo CSS botones de menú*/
.menu a {
	padding: 0.625em;
	color: lightgray;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 1em;
	background: #060707;
}

/* Efecto hover, cambio de color del botón al posar el mouse*/
.menu a:hover {
	background: #191a1b;
	color: #fff;
}

/* Estilo CSS articulos */
.articulo {
	display: flex;
	background: #191a1b;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

}

.articulo .contenedor-texto {
	padding: 1.25em;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.articulo .contenedor-thumbnail {
	width: 50%;
}

.articulo .titulo {
	margin-bottom: 0.625rem;
	font-size: 1.5625em;
}

.articulo .titulo a {
	font-weight: 400;
	color: lightgray;
}

.articulo .fecha {
	font-size: 1em;
	color: #868b8d;
	margin-bottom: 0.625rem;
}

.articulo .extracto {
	font-size: 1.25em;
	line-height: 1.5625rem;
	font-weight: 300;
	margin-bottom: 1.25rem;
	color: #868b8d;
}

/* Estilo CSS articulo destacado */
.articulo.destacado {
	grid-area: destacado;
	background-color: #161718;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
	height: 25em;
	display: grid;
	grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
	min-height: 100%;
	width: 100%;
}

.articulo.destacado .contenedor-thumbnail a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.destacado .titulo a {
	color: lightgray;
}

.destacado .titulo::after {
	content: '';
	margin: 0.625em 0;
	display: block;
	background-color: #868686;
	width: 6em;
	height: 1px;
}

.btn-link {
	color: lightgray;
	cursor: pointer;
	display: inline-block;
	padding: 0.625em;
	background-color: #252528;
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 1px;
	align-self: flex-end;
}

.btn-link:hover {
	background: #000;
	text-decoration: none;
	color: lightgray;
}

/* Estilo CSS contenido */
.contenido {
	grid-area: contenido;
	display: grid;
	grid-template-columns: 1;
	grid-gap: 1.25rem;
}

/* Carousel base class */
.carousel {
	margin: auto;
	margin-top: -30px;

}

.carousel-item img {
	width: 200px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	height: 10rem;

}

.carousel-item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

.footer {
	background: #060707;
	font-size: 14px;
	grid-area: footer;
	padding: 25px;
	text-align: center;
	color: lightgray;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/*https://getbootstrap.com/docs/4.0/layout/overview/*/

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	body {
		font-size: 15px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.header {
		font-size: 14px;
	}

	body {
		font-size: 16px;
	}

	.contenedor {
		grid-template-areas:
			'header			  header   	  header'
			'destacado		destacado 	destacado'
			'contenido		contenido 	contenido'
			'pan 				pan 			pan'
			'contenido2   contenido2  contenido2'
			'footer	 		  footer 		  footer';
	}
}

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
	body {
		font-size: 14;
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
	body {
		font-size: 13px;
	}

	.articulo.destacado {
		grid-template-columns: 1.4fr 0fr;
	}

	.articulo.destacado .contenedor-thumbnail {
		height: 16em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	body {
		font-size: 12px;
	}
}