body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	letter-spacing: 0.03em;
	line-height: 1.6;
	background-color: #060707;
	font-size: 16px;
}

/* Dimensiones de las imagenes*/
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Quitar subrayado de botones */
a {
	text-decoration: none;
}

/* Indicar las dimensiones que queremos que utilice respecto al body,
además indicar al interprete la posición de nuestro header*/
.contenedor {
	width: 90%;
	max-width: 80em;
	margin: 1.25em auto;
	display: grid;
	grid-gap: 1.25em;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
	;
}

/* Estilo CSS de Header */
.header {
	grid-area: header;
	padding: 1.25rem;
	background: #060707;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

/* Estilo CSS de nombre My Manga */
.header .logo {
	margin-bottom: 1.25em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

/* Color nombre My Manga */
.logo h1 {
	font-size: 2em;
	color: lightgray;
}

/* Estilo CSS menu, franjas grices */
.menu {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
}

/* Estilo CSS botones de menú*/
.menu a {
	padding: 0.625em;
	color: lightgray;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 1em;
	background: #060707;
}

/* Efecto hover, cambio de color del botón al posar el mouse*/
.menu a:hover {
	background: #191a1b;
	color: lightgray;
}


.container {
	width: 100%;
	max-width: 93.75rem;
	height: 26.875rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0.9375rem;
}

.container .card {
	width: 20.625rem;
	height: 26.875rem;
	border-radius: 0.5rem;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	background-color: #1f2122;
	color: lightgray;
	overflow: hidden;
	margin: 1.25rem;
	text-align: center;
	transition: 0.25s ease all;
}

.container .card img {
	width: 20.625em;
	height: 13.75em;
}

.container .card h4 {
	font-weight: 600;
}

.container .card p {
	padding: 0 1rem;
	font-size: 1em;
	font-weight: 300;
}

.container .card a {
	font-weight: 500;
	text-decoration: none;
	color: #3498db;
}

.container .card img {
	width: 100%;
}

.tabla {
	align-items: center;
}

.footer {
	background: #060707;
	font-size: 14px;
	grid-area: footer;
	padding: 25px;
	text-align: center;
	color: lightgray;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/*https://getbootstrap.com/docs/4.0/layout/overview/*/

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	body {
		font-size: 15px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.header {
		font-size: 14px;
	}

	body {
		font-size: 16px;
	}
}

@media (max-width: 950px) {
	body {
		font-size: 14;
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
	body {
		font-size: 13px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	body {
		font-size: 12px;
	}
}

@media (max-width:500px) {
	.container .card {
		width: 280px;
		margin-right: 20px 20px;
	}

	.container .card img {
		width: 100%;
	}
}