{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Manga</title>
	<!-- Diseño de letra, se pueden encontrar más en https://fonts.google.com/ -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
	<!-- Importar bootstrap, también sirve descargarlo y realizar link a elemento -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<!-- Estilo CSS que permite normalizar página https://necolas.github.io/normalize.css/ -->
	<link rel="stylesheet" href="{% static './css/normalize.css' %}">
	<!-- Estilo CSS propio -->
	<link rel="stylesheet" href="{% static './css/form style.css' %}">
</head>

<body>
	<div class="contenedor">
		<!-- Encabezado de la página -->
		<header class="header">
			<div class="logo">
				<h1>My Manga</h1>
			</div>
			<!-- Botones de menú -->
			<nav class="menu">
				<a href="http://127.0.0.1:8000/index">Inicio</a>
				<a href="http://127.0.0.1:8000/manga">Mangas</a>
				<a href="http://127.0.0.1:8000/form">Registro</a>
			</nav>
		</header>
	</div>
	<main>
		<!-- Inicio de formulario -->
		<form action="" class="formulario" id="formulario">
			<!-- input Usuario -->
			<div class="formulario__grupo" id="grupo__usuario">
				<label for="usuario" class="formulario__label">Usuario</label>
				<!-- Sección especifica de input. -->
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="usuario" id="usuario" placeholder="Usuario">
					<!-- Icono de error https://fontawesome.com/-->
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<!-- Parrafo indicando error. -->
				<p class="formulario__input-error">El usuario debe ser de 4 a 16 caracteres y solo debe contener letras.
				</p>
			</div>
			<!-- input Nombre -->
			<div class="formulario__grupo" id="grupo__nombre">
				<label for="nombre" class="formulario__label">Nombre</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Nombre">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El nombre solo debe contener letras.</p>
			</div>
			<!-- input Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Usa 8 o más caracteres con una combinación de letras, números y
					símbolos.</p>
			</div>
			<!-- input Contraseña 2-->
			<div class="formulario__grupo" id="grupo__password2">
				<label for="password2" class="formulario__label">Repetir Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password2" id="password2">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
			</div>
			<!-- input Correo Electrónico -->
			<div class="formulario__grupo" id="grupo__email">
				<label for="email" class="formulario__label">Correo Electrónico</label>
				<div class="formulario__grupo-input">
					<input type="email" class="formulario__input" name="email" id="email"
						placeholder="usuario@email.com">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Puedes usar letras, números y signos de puntuación</p>
			</div>
			<!-- input Teléfono -->
			<div class="formulario__grupo" id="grupo__telefono">
				<label for="telefono" class="formulario__label">Teléfono</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="912345678">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El teléfono solo puede contener 9 números, utiliza el prefijo 9.</p>
			</div>
			<!-- Terminos y condiciones -->
			<div class="formulario__grupo" id="grupo__terminos">
				<label class="formulario__label">
					<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					Acepto los Terminos y Condiciones.
				</label>
			</div>
			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
					correctamente. </p>
			</div>
			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">Enviar</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado correctamente.
					Gracias por formar parte de nuestra comunidad!
				</p>
			</div>
		</form>
		<!-- Fin del formulario -->
	</main>
	<footer class="footer">
		<p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
	</footer>
	<script src="{% static './js/form.js' %}"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>

</html>