{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Manga</title>
	<!-- Diseño de letra, se pueden encontrar más en https://fonts.google.com/ -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
	<!-- Importar bootstrap, también sirve descargarlo y realizar link a elemento. -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<!-- Estilo CSS que permite normalizar página https://necolas.github.io/normalize.css/ -->
	<link rel="stylesheet" href=" {% static './css/normalize.css' %} ">
	<!-- Estilo CSS propio -->
	<link rel="stylesheet" href="{% static './css/index style.css' %}">

</head>

<body>
	<!-- Elemento contenedor /agrupador de contenidos o secciones. Contiene título, menú y articulos. -->
	<div class="contenedor">
		<!-- Encabezado de la página. -->
		<header class="header">
			<div class="logo">
				<h1>My Manga</h1>
			</div>
			<!-- Botones de menú. -->
			<nav class="menu">
				<a href="http://127.0.0.1:8000/index">Inicio</a>
				<a href="http://127.0.0.1:8000/manga">Mangas</a>
				<a href="http://127.0.0.1:8000/form">Registro</a>
			</nav>
		</header>
		<!-- Composición autocontenida. -->
		<article class="articulo destacado">
			<div class="contenedor-texto">
				<div>
					<!-- Elemento de encabezado. -->
					<h2 class="titulo"><a href="#">Boruto: Naruto Next Generations #050</a></h2>
					<!-- Parrafo que indica la fecha. -->
					<p class="fecha">
						<time>Septiembre 18, 2020</time>
					</p>
				</div>
				<!-- Parrafo que da breve descripción del articulo. -->
				<p class="extracto">
					¡Naruto y Sasuke se enfrentan a un enemigo al que quizás no puedan vencer!
				</p>
				<a href="#" class="btn-link">Leer más</a>
			</div>
			<!-- Contenedor de miniatura (imagen de apoyo). -->
			<div class="contenedor-thumbnail">
				<!-- Etiqueta de hipertexto, con función a futuro. Si se quita no pasa nada, la imagen queda. -->
				<a href="#">
					<img src="{% static '/img/img-01.jpg'%}" alt="" />
				</a>
			</div>
		</article>
		<!-- Elemento main, contiene elementos principales del Body, en este caso, los articulos. -->
		<main class="contenido">
			<!-- Se repite el ciclo como con composición del elemento destacado -->
			<article class="articulo">
				<div class="contenedor-thumbnail">
					<a href="#"><img src="{% static '/img/img-02.jpg' %}" alt="" /></a>
				</div>
				<div class="contenedor-texto">
					<div>
						<h2 class="titulo">
							<a href="#">Chainsaw Man #085</a>
						</h2>
						<p class="fecha">
							<time>Septiembre 18, 2020</time>
						</p>
					</div>
					<p class="extracto">
						¿Alguien está a salvo del alboroto de Denji en Chainsaw Man?
					</p>
					<a href="#" class="btn-link">Leer más</a>
				</div>
			</article>

			<article class="articulo">
				<div class="contenedor-thumbnail">
					<a href="#"><img src="{% static '/img/img-03.jpg' %}" alt="" /></a>
				</div>
				<div class="contenedor-texto">
					<div>
						<h2 class="titulo">
							<a href="#">Seraph of the End: Vampire Reign #094</a>
						</h2>
						<p class="fecha">
							<time>Septiembre 03, 2020</time>
						</p>
					</div>
					<p class="extracto">
						¿Qué está sucediendo hermano?, ¿Acaso me has olvidado?
					</p>
					<a href="#" class="btn-link">Leer más</a>
				</div>
			</article>

			<article class="articulo">
				<div class="contenedor-thumbnail">
					<a href="#"><img src="{% static '/img/img-04.jpg' %}" alt="" /></a>
				</div>
				<div class="contenedor-texto">
					<div>
						<h2 class="titulo">
							<a href="#">Ayakashi Triangle (Web-Only) #013</a>
						</h2>
						<p class="fecha">
							<time>Septiembre 18, 2020</time>
						</p>
					</div>
					<p class="extracto">
						El extraño artista está detrás del pergamino de Matsuri, ¡pero descubre que sus amigos son
						bastante protectores!
					</p>
					<a href="#" class="btn-link">Leer más</a>
				</div>
			</article>
		</main>
	</div>
	<!-- No se incluyó el slider o carousel en la sección anterior, únicamente por enojo, se puede agregar.-->
	<main class="col-xs-12" role="main">

		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Crea caja en bloque -->
			<ol class="carousel-indicators">
				<!-- Lista que define la composición del slider. -->
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- Si se requiere modicar el alto o ancho, dar estilo CSS a esta sección. -->
			<div class="carousel-inner">

				<div class="carousel-item active">
					<svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
						focusable="false" role="img">
						<img src="{% static '/img/img-12.jpg' %}" alt="Imagen personaje anime">
						<rect width="100%" height="100%" fill="#777" />
					</svg>

					<div class="carousel-caption text-left">

					</div>

				</div>

				<div class="carousel-item">
					<svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
						focusable="false" role="img">
						<img src="{% static '/img/img-13.jpg' %}" alt="Imagen personaje anime">
						<rect width="100%" height="100%" fill="#777" />
					</svg>

					<div class="carousel-caption text-right">

					</div>

				</div>

				<div class="carousel-item">
					<svg class="bd-placeholder-img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
						focusable="false" role="img">
						<img src="{% static '/img/img-14.jpg' %}" alt="Imagen personaje anime">
						<rect width="100%" height="100%" fill="#777" />
					</svg>
				</div>

			</div>

			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>

		</div>

	</main>
	<footer class="footer">
		<p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
	</footer>

	<!-- Elementos de scripting para utilizar Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>
</body>

</html>