{%load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Manga</title>
  <!-- Diseño de letra, se pueden encontrar más en https://fonts.google.com/ -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
  <!-- Importar bootstrap, también sirve descargarlo y realizar link a elemento -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384- JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- Estilo CSS que permite normalizar página https://necolas.github.io/normalize.css/ -->
  <link rel="stylesheet" href="{% static './css/normalize.css' %}">
  <!-- Estilo CSS propio -->
  <link rel="stylesheet" href="{% static './css/manga style.css' %}">

</head>

<body>
  <div class="contenedor">
    <!-- Encabezado de la página -->
    <header class="header">
      <div class="logo">
        <h1>My Manga</h1>
      </div>
      <!-- Botones de menú -->
      <nav class="menu">
        <a href="http://127.0.0.1:8000/index">Inicio</a>
        <a href="http://127.0.0.1:8000/manga">Mangas</a>
        <a href="http://127.0.0.1:8000/form">Registro</a>
      </nav>
    </header>
  </div>
  <div class="container">
    <!-- Sección de carta, almacena imagen, encabezado, parrafo con breve descripción y un botón -->
    <div class="card">
      <img src="{% static './img/img-05.jpg' %}" alt="">
      <h4>Act-Age</h4>
      <p>Kei Yonagi es una chica de secundaria que se esfuerza por convertirse en actriz. Ella
        está a cargo sus dos hermanos menores, después de que su padre los abandonó y su madre murió.</p>
      <a href="#">Leer más</a>
    </div>
    <!-- Repetir el modelo cuantas veces se encuentre necesario -->
    <div class="card">
      <img src="{% static './img/img-06.jpg' %}" alt="">
      <h4>One Piece</h4>
      <p> Monkey. D. Luffy se rehusa a que nadie se interponga en su camino por la búsqueda para convertirse el rey de
        todos los piratas.</p>
      <a href="#">Leer más</a>
    </div>

    <div class="card">
      <img src="{% static './img/img-07.jpg' %}" alt="">
      <h4>Dr. Stone</h4>
      <p>Senku es un joven extremadamente inteligente con un gran don para la ciencia y una ácida personalidad, y su
        mejor amigo es Taiju.</p>
      <a href="#">Leer más</a>
    </div>

    <div class="card">
      <img src="{% static './img/img-08.jpg' %}" alt="">
      <h4>Kimetsu no Yaiba</h4>
      <p>Estamos en la era Taisho de Japón. Tanjiro, un joven que se gana la vida vendiendo carbón, descubre un día que
        su familia ha sido asesinada por un demonio.</p>
      <a href="#">Leer más</a>
    </div>

    <div class="card">
      <img src="{% static './img/img-09.jpg' %}" alt="">
      <h4>My Hero Academia</h4>
      <p>En un mundo en el que la mayor parte de la población nace con un Don, una habilidad extraordinaria diferente en
        cada cual, no tardaron en aparecer tanto villanos como héroes dispuestos a detenerlos.</p>
      <a href="#">Leer más</a>
    </div>

    <div class="card">
      <img src="{% static './img/img-10.jpg' %}" alt="">
      <h4>Hinomaru Sumo</h4>
      <p>Ushio Hinomaru puede ser pequeño de tamaño, pero está dispuesto a demostrar su valía en el ring.</p>
      <a href="#">Leer más</a>
    </div>
    <footer class="footer">
      <p>Copyright © 2020 MyManga. Todos los derechos reservados.</p>
    </footer>
  </div>


</body>

</html>